.md-typeset img:not(.no-curve) {
    border-radius: .3rem;
}

.mdx-badge {
    font-size: .85em
}

.md-typeset .mdx-badge--right {
    float: right;
    margin-left: .35em
}

[dir=ltr] .md-typeset .mdx-badge__icon {
    border-top-left-radius: .1rem
}

[dir=rtl] .md-typeset .mdx-badge__icon {
    border-top-right-radius: .1rem
}

[dir=ltr] .md-typeset .mdx-badge__icon {
    border-bottom-left-radius: .1rem
}

[dir=rtl] .md-typeset .mdx-badge__icon {
    border-bottom-right-radius: .1rem
}

.md-typeset .mdx-badge__icon {
    background: var(--md-accent-fg-color--transparent);
    padding: .2rem
}

.md-typeset .mdx-badge__icon:last-child {
    border-radius: .1rem
}

[dir=ltr] .md-typeset .mdx-badge__text {
    border-top-right-radius: .1rem
}

[dir=rtl] .md-typeset .mdx-badge__text {
    border-top-left-radius: .1rem
}

[dir=ltr] .md-typeset .mdx-badge__text {
    border-bottom-right-radius: .1rem
}

[dir=rtl] .md-typeset .mdx-badge__text {
    border-bottom-left-radius: .1rem
}

.md-typeset .mdx-badge__text {
    box-shadow: 0 0 0 1px inset var(--md-accent-fg-color--transparent);
    padding: .2rem .3rem
}

.md-typeset .mdx-badge--warning {
    --md-typeset-a-color: #e9dc20;
    --md-accent-fg-color: #ffec42;
    --md-accent-fg-color--transparent: #d5e9201a;
    color: #e9d51e
}

.metadata {
    color: var(--md-default-fg-color);
    font-size: small;
    margin-top: .1rem;
    margin-bottom: .1rem;
}

.metadata {
    padding: .1rem;
}

.metadata>span:not(.twemoji) {
    margin-left: 5px;
    margin-right: 5px;
}